.header_back{
	background: url(../image/background/header_other.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.header{
	height:300px;
}
.main_back{
	background: url(../image/background/faq.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.main{
	display: flex;
	flex-direction: column;
	margin:0 auto;
	width:1170px;
}
.main_top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:50px 0 50px 0;
}
.main_top_content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:50%;
	
}
.main_top_text h2{
	font-size: 26px;
	font-weight: 700;
	color:#00a4ac;
	text-transform: uppercase;
}
.main_top_text p{
	font-size: 18px;
	color:#666666;
	padding:5px 0 5px 0 ;

}
.main_top_form{
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
}
.form_name{
	font-size: 40px;
    font-weight: 700;
    color: #dee9e9;
    text-transform: uppercase;
}
.form_user{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:50%;

}
.form_user form p{
	padding: 20px 0 5px 15px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color:#00a4ac;

}
.user_name, .user_email, .user_message {
	width:550px;
	height: 36px;
	border:2px solid #00a4ac ;
	border-radius: 18px;
	background-color:#e3fff1;
	font-size: 18px;
}
.user_message{
	height: 167px;
}

.user_send-message{
		display: flex;
		justify-content: center;
		align-items: center;
		width:217px;
		height:32px;
		font-size:16px;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 18px;
		border: 2px solid #01fbe7; 
		background-color: #ffff;
		color: #0e7c7b;
	}
	.form_user form p:last-child{
		padding:20px 0 5px 0;
	}
.main_top_triangle{

}
.triangle_address{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin:-15px 0 -20px 0 ;
}
.triangle_address a{
		display: flex;
		align-items: center;
		color:#0e7c7b;
		font-size: 18px;
		font-weight: 700;
}
.triangle_address p{
		display: flex;
		align-items: center;
		color:#0e7c7b;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.35;
}