.header_back{
	background: url(../image/background/header_other.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.header{
	height:300px;
}
.main_back{
	background: url(../image/background/faq.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.main{
	margin:0 auto;
	width:1170px;
}
.main_content_common{
	display: flex;
	flex-direction: column;
	width:540px;
}
.main_top{
	margin:50px 0 0 0;
}
.main_top h2{
	font-size: 26px;
	font-weight: 700;
	color:#00a4ac;
	text-transform: uppercase;
}
.main_top p{
	font-size: 16px;
	color:#666666;
	padding:5px 0 5px 0 ;
}
.main_flex{
	margin-top: 30px;
	width:1170px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.main_content_paragraph{
	font-size: 60px;
	font-weight: 700;
	color:#dee9e9;
	text-transform: uppercase;
}
.main_content_image{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.show{
	display: flex;
	align-items: center;
}
.hide{
	display: none;
	flex-direction: column;
	justify-content: flex-start;
}
.show img{
	background-color: transparent;
	z-index: 1;
}
.show span{
	width:540px;
	height:50px;
	background-color:#d9feeb;
	border-radius: 25px;
	margin-left: -50px;
	padding-left: 45px;
	font-size: 17px;
	font-weight: 700;
	color:#0e7c7b;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.hide img{
	background-color: transparent;
	z-index: 1;
}
.hide span{
	width:540px;
	height:50px;
	background-color:#d9feeb;
	border-radius: 25px;
	margin-left: -50px;
	padding-left: 45px;
	font-size: 17px;
	font-weight: 700;
	color:#0e7c7b;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.main_content_text{
	width:430px;
	height:150px;
	background-color:#fff2f7;
	margin:-15px 0 0 50px;
}
.main_content_text p{
	padding: 20px;
	font-size: 16px;
	color:#666666;
}