body{
	font-family: "RobotoThin", sans-serif !important;
	position: relative;
	margin: 0 auto;
	width: 100%;
	/*background: url(../image/background_plans.jpg) 50% 0 no-repeat;*/
	}
.header_back{
	background: url(../image/background/header_other.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.header{
	height: 300px;
}
.plans_top_back{
background: url(../image/background/plans1.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.plans_top{
	width: 1170px;	
	margin:0 auto;
	height: 313px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.plans_top p,.plans_bottom p{
	padding: 5px 0 5px 0;
	color:#666666;
	}
.plans_top h2,.plans_bottom h2{
	font-size: 20px;
	text-transform: uppercase;
	color:#06a6ae;
	font-weight:  bold;
	}
.plans_bottom_back{
	background: url(../image/background/plans3.png) 50% 0 no-repeat;
	min-width: 1170px;
}
.plans_bottom{
	width: 1170px;	
	margin:0 auto;
	height: 325px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
